body {
  font-family: 'Mitr', sans-serif;
}
.leftHalf {
  background: url('PClock.jpg');
  background-size: cover;
  width: 65%;
  position: absolute;
  left: 0px;
  height: 100%;
  text-align: right;
}
h1 {
  color: #f16149;
  font-size: 11rem;
  display: flex;
  line-height: 0.8em;
  position: relative;
  top: 35%;
  text-shadow: -3px 0 #ffcdd2, 0 3px #ffcdd2, 3px 0 #ffcdd2, 0 -3px #ffcdd2;
}
.rightHalf {
  width: 35%;
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: #bdbdbd;
}
.slider-preview {
  background: #404241;
  color: #fff;
  width: 40px;
  height: 32px;
  margin-left: 25px;
  vertical-align: middle;
  padding: 5px 0px;
  text-align: center;
  border-radius: 4px;
}
.timeSlider {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: auto 20px;
  margin-bottom: 35px;
  align-items: center;
  padding: 10px 20px;
}
#session-label,
#break-label {
  grid-column: 1 / 4;
  align-items: end;
}
#line {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: black;
}
#break-decrement,
#break-increment,
#session-decrement,
#session-increment:hover {
  cursor: grab;
}
